// SPDX-License-Identifier: GPL-2.0
/*
 * ATOLL Samsung Galaxy A72 (a72q) specific device tree
 *
 * Copyright (c) 2021, The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include "atoll.dtsi"

/ {
	model = "Samsung Galaxy A72";
	compatible = "samsung,a72q", "samsung,a72", "qcom,atoll";
};
